/* fonts family */
@font-face {
    font-family: 'Regular';
    src: url('../font/Cygre-Regular-BF63eeebf4df0b6.ttf') format('truetype');
}

@font-face {
    font-family: 'Medium';
    src: url('../font/Cygre-Medium-BF63eeebf75cc00.ttf') format('truetype');
}

@font-face {
    font-family: 'Bold';
    src: url('../font/Cygre-Bold-BF63eeebf566546.ttf') format('truetype');
}

@font-face {
    font-family: 'ExtraBold';
    src: url('../font/Cygre-ExtraBold-BF63eeebf4aa137.ttf') format('truetype');
}

@font-face {
    font-family: 'Black';
    src: url('../font/Cygre-Black-BF63eeebf3942b2.ttf') format('truetype');
}

:root {
    --body-font: "Regular", sans-serif;
    --bs-btn-font-family: "Regular", sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* fonts color */

:root {
    --bs-blue: #4BA1A7;
    --bs-red: #F0756C;
    --bs-orange: #F5E9E9;
    --bs-yellow: #EFEAEA;
    --bs-green: #F5F8F1;
    --bs-teal: #EFE8EF;
    --bs-cyan: #F3F3F3;
    --bs-black: #111111;
    --bs-white: #FFFFFF;
    --bs-gray: #777777;
    --bs-btnyellow: #FFB400;

    --bs-link-color: #111111;
    --bs-link-color-rgb: 17, 17, 17;
    --bs-link-hover-color: #F0756C;
    --bs-link-hover-color-rgb: 240, 117, 108;

    --bs-primary: #F0756C;
    --bs-primary-rgb: 240, 117, 108;
    --bs-body-color: #111111;
    --bs-info: #C3C3C3;
    --bs-light-text-emphasis: #c3c3c3;

    --swiper-pagination-color: #F0756C;
}

body,
body [data-bs-theme=light] {
    --bs-blue: #4BA1A7;
    --bs-red: #F0756C;
    --bs-orange: #F5E9E9;
    --bs-yellow: #EFEAEA;
    --bs-green: #F5F8F1;
    --bs-teal: #EFE8EF;
    --bs-cyan: #F3F3F3;
    --bs-black: #111111;
    --bs-white: #FFFFFF;
    --bs-gray: #777777;
    --bs-info: #C3C3C3;
}

.btn-primary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-orange);
    --bs-btn-border-color: var(--bs-orange);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-black);
    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-bg: var(--bs-black);
}

.pagination {
    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--bs-body-bg);
    --bs-pagination-border-width: var(--bs-border-width);
    --bs-pagination-border-color: var(--bs-border-color);
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--bs-black);
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--bs-secondary-bg);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    --bs-pagination-active-color: var(--bs-black);
    --bs-pagination-active-bg: #F5E9E9;
    --bs-pagination-active-border-color: #F5E9E9;
    --bs-pagination-disabled-color: var(--bs-secondary-color);
    --bs-pagination-disabled-bg: var(--bs-secondary-bg);
    --bs-pagination-disabled-border-color: var(--bs-border-color);
    display: flex;
    padding-left: 0;
    list-style: none;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
}

.bg-yellow {
    background-color: var(--bs-yellow) !important;
}

.bg-green {
    background-color: var(--bs-green) !important;
}

.bg-teal {
    background-color: var(--bs-teal) !important;
}

.navbar-nav a.nav-link:hover {
    color: var(--bs-primary) !important;
}

body {
    font-family: var(--body-font);
}

/* font size */
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

.display-1 {
    font-size: calc(4.375rem + 4.5vw);
    font-weight: 900;
    font-family: var(--body-font);
    line-height: 80%;
}

.display-2,
.display-3,
.display-4,
.display-5 {
    font-weight: 700;
}

.p-6 {
    padding: 4rem !important;
}

/* navbar */
.navbar svg {
    color: #111111;
}

/* banner color */

.banner {
    color: var(--bs-black);
}

/* line height */

p.a {
    line-height: 10%;
}

.lh-small {
    line-height: 80%;
}

.ls-4 {
    letter-spacing: 0.2rem;
}

/* masonry */
.btn.is-checked {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
}

/* paragraph color */
.postf {
    color: var(--bs-gray);
}

.postg {
    color: var(--bs-info);
}

/* width of container */

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1460px;
    }
}

/* testimonial */

.book-card {
    color: var(--bs-white);
}




/* 3.5 FAQs
/*----------------------------------------------*/
.accordion-item {
    background: var(--bs-yellow);
}

h5 button.accordion-button {
    font-family: var(--body-font);
    background: var(--bs-yellow);
}

.accordion-button:focus {
    border: none;
    outline: 0;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='m12 13.171l4.95-4.95l1.414 1.415L12 16L5.636 9.636L7.05 8.222z'/%3E%3C/svg%3E");
    transform: rotate(180deg);
}

.page-link {
    color: var(--bs-black);
}

.page-link:hover {
    z-index: 2;
    color: var(--bs-pagination-hover-color);
    background-color: var(--bs-pagination-hover-bg);
    border-color: var(--bs-pagination-hover-border-color);
}

.active>.page-link,
.page-link.active {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: var(--bs-pagination-active-bg);
    border-color: var(--bs-pagination-active-border-color);
}

.font-regular {
    font-family: 'Regular', sans-serif;
}

.font-medium {
    font-family: 'Medium', sans-serif;
}

.font-bold {
    font-family: 'Bold', sans-serif;
}

.font-black {
    font-family: 'black', sans-serif;
}

main {
    z-index: 1000;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.swiper {
    position: relative;
    z-index: -1000;
}

#header {
    z-index: 999999999999999999999999;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
}

#header a {
    color: white;
    text-decoration: none;
    transition: all 300ms ease-in-out;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.scrolled ul a {
    color: black !important;
}

.desktop-nav ul {
    list-style: none;
}

.desktop-nav ul a {
    text-decoration: none;
}

.desktop-nav ul a li.active,
.resources-navbar ul a li.active {
    color: var(--bs-btnyellow);
}

.main-landing {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.main-landing::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgb(255, 255, 255) 1%, rgba(255, 255, 255, 0) 90%);
    z-index: -1;
}

.landing-section h1 {
    font-size: 105.04px;
    line-height: 87.34px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.landing-section p {
    font-size: 29.36px;
    line-height: 36.28px;
    color: #FFB400;
}

section.resources>div:last-child {
    width: 515px;
    margin: 0 auto;
    color: white;
    background-color: black;
}

section.resources button {
    border: none;
    padding: 12px 24px;
    background-color: var(--bs-btnyellow);
}

section.journey h1 {
    font-size: 100px;
}

section.journey p {
    font-size: 25px;
}

section.journey>div {
    color: white;
    background-color: #000011;

}

section.journey>div>div:last-child {
    padding-top: 80px;
    background-color: var(--bs-btnyellow);
}

section.journey button {
    border: none;
    color: white;
    background-color: #522989;
    padding: 12px 24px;
    width: fit-content;
}



.book-slider p {
    width: 320px;
    margin: 0 auto;
    height: 100px;
}

.book-slider>div {
    width: fit-content;
}

.book-1 {
    background-color: black;
}

.book-2 {
    background-color: #522989;
}

.book-3 {
    background-color: var(--bs-btnyellow);
}

.book-4 {
    background-color: #1D9000;
}

section.focus-area {
    margin-bottom: 100px;
}

section.focus-area h1 {
    font-size: 100px;
    padding-left: 89px;
}

section.focus-area>div {
    background-color: #F0D8FC;
}

section.focus-area>div>div {
    border-right: 1px solid #7B61FF;
}

section.focus-area>div>div:last-child {
    border: none;
}

/* ABOUT PAGE */

section.mission-vision {
    padding: 200px 50px;
}

section.mission-vision h1 {
    font-size: 100px;
    line-height: 100px;
}

section.mission-vision p {
    font-size: 30px;
    line-height: 63.42px;
    color: #000011;
}

section.subscribe {
    position: relative;
    padding: 500px 50px 100px 50px;
    background-color: var(--bs-btnyellow);
}

section.subscribe>div:first-child {
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 500px;
}

section.subscribe>div:last-child h1 {
    font-size: 100px;
    line-height: 100px;
    color: #010122;
}

section.subscribe>div:last-child p {
    font-size: 30px;
    line-height: 112px;
}

section.subscribe>div:last-child button {
    border: none;
    color: white;
    background-color: #522989;
    padding: 12px 24px;
    width: fit-content;
}


/* RESOURCE PAGE */
.main-landing-resources {
    color: white;
    background-color: #000011;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.resources-navbar a {
    text-decoration: none;
    color: white;
}

.resources-navbar {
    background-color: #000011;
}

.resources-navbar ul {
    list-style: none;
}

.resources-navbar ul a {
    text-decoration: none;
    color: white;
}

.main-landing-resources section h1 {
    font-size: 100px;
    line-height: 100px;
}

section.about {
    padding: 100px 150px;
}

section.about>div h1 {
    font-size: 91.03px;
    line-height: 91.03px;
}

section.about>div p {
    font-size: 30px;
    line-height: 57.73px;
}

section.about>div button {
    border: none;
    color: white;
    background-color: #522989;
    padding: 12px 24px;
    width: fit-content;
}

section.author>div>div:last-child h1 {
    font-size: 100px;
    line-height: 100px;
}

section.author>div>div:last-child>div p {
    color: var(--bs-btnyellow);
    font-size: 35px;
    line-height: 35px;
}

section.author>div>div:last-child>p:nth-child(2) {
    font-size: 43.66px;
    line-height: 43.66px;
}

section.author>div>div:last-child>p:nth-child(3) {
    font-size: 28px;
    line-height: 42.28px;
}

/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    gap: 200px;
    padding: 50px;
    color: white;
    background-color: #000011;
}

footer>div:first-child {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

ul.footer-nav li.active {
    color: var(--bs-btnyellow) !important;
}

/* PRELOADER */

#preloader {
    position: fixed;
    inset: 0;
    width: 100vw;
    z-index: 999999999999999999;
    background: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ss-loaded {
    display: block;
}

/* Hide scrolling while loading */
.ss-preload {
    overflow: hidden;
}

/* Allow scrolling once loaded */
.ss-loaded {
    overflow: auto;
}

button {
    transition: transform 100ms ease-in-out;
    transform-origin: bottom;
}

button:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 900px) {

    .landing-section h1 {
        font-size: 50.04px;
        line-height: 50px;
    }

    .landing-section p {
        font-size: 20.36px;
        line-height: 36.28px;
    }

    section.resources>div:last-child {
        width: 90%;
    }

    section.journey h1 {
        font-size: 50px;
    }

    section.journey p {
        font-size: 20px;
    }

    section.focus-area h1 {
        font-size: 50px;
        padding-left: 49px;
    }

    section.focus-area>div>div {
        border-right: none;
        border-bottom: 1px solid #7B61FF;
    }

    section.focus-area>div>div:last-child {
        border: none;
    }

    section.mission-vision {
        padding: 100px 25px;
    }

    section.mission-vision h1 {
        font-size: 50px;
    }

    section.mission-vision p {
        font-size: 15px;
        line-height: 33.42px;
    }

    section.subscribe {
        position: relative;
        padding: 250px 25px 100px 25px;
        background-color: var(--bs-btnyellow);
    }

    section.subscribe>div:last-child h1 {
        font-size: 50px;
        line-height: 50px;
        color: #010122;
    }
    section.subscribe>div:first-child {
        width: 95%;
        height: 300px;
    }

    section.subscribe>div:last-child p {
        font-size: 15px;
        line-height: 50px;
    }

    .main-landing-resources section h1 {
        font-size: 50px;
        line-height: 50px;
    }

    section.about {
        padding: 50px 10px;
    }

    section.about>div h1 {
        font-size: 40px;
        line-height: 40px;
    }

    section.about>div p {
        font-size: 20px;
        line-height: 30px;
    }

    section.author>div>div:last-child h1 {
        font-size: 100px;
        line-height: 100px;
    }

    section.author>div>div:last-child>div p {
        color: var(--bs-btnyellow);
        font-size: 35px;
        line-height: 35px;
    }

    section.author>div>div:last-child h1 {
        font-size: 50px;
        line-height: 50px;
    }

    section.author>div>div:last-child>div p {
        color: var(--bs-btnyellow);
        font-size: 25px;
        line-height: 25px;
    }

    section.author>div>div:last-child>p:nth-child(2) {
        font-size: 20px;
        line-height: 20px;
    }

    section.author>div>div:last-child>p:nth-child(3) {
        font-size: 20px;
        line-height: 30px;
    }
    .author-img img {
        width: 100%;
    }
    footer {
        padding: 20px;
    }
}